

@media (max-width: 1199px) {
    .header-logo {
        width: 140px;
    }
    .header-in {
        padding: 28px 0;
    }
    .hero__content .h1 {
        font-size: 80px;
    }
    .hero__content p {
        font-size: 21px;
    }

    .hero__form {
        padding: 40px 30px;
        border-radius: 18px;
    }
    .label-x {
        font-size: 20px;
        margin-bottom: 10px;
        padding-left: 30px;
        width: 100%;
    }
    .input-x {
        font-size: 16px;
        padding: 14px 12px 14px 50px;
    }
    .input-x-outer .icon {
        left: 20px;
    }
    .sm-button {
        min-height: 35px;
        min-width: 230px;
        padding: 4px 20px 5px;
        font-size: 14px;
    }
    .default-button {
        padding: 11px 16px;
        font-size: 21px;
    }
    .hero-section__inner {
        padding: 110px 0 40px;
    }


    .h2 {
        font-size: 36px;
    }
    .tt-section__content p {
        font-size: 20px;
        margin: 0 0 25px;
    }
    .tt-section__title {
        margin: 0 0 20px;
    }
    .tt-section__content {
        margin: 0 0 50px;
    }
    .h2-bx::after {
        width: 150px;
        right: -20px;
    }
    .h2-bx {
        padding: 10px 0;
    }

    .default-button.min-width {
        min-width: 290px;
    }
}


@media (max-width: 991px) {
 
}


@media (max-width: 768px) {
    .hero__content .h1 {
        font-size: 55px;
    }
    .hero__content p {
        font-size: 18px;
    }
    .header-in {
        padding: 15px 0;
    }
    .hero-section__inner {
        padding: 80px 0 30px;
    }
    .hero__form {
        padding: 30px 15px;
    }

    .h2 {
        font-size: 25px;
    }
    .tt-section__content p {
        font-size: 16px;
        margin: 0 0 18px;
    }
    .tt-section__title {
        margin: 0 0 10px;
    }
}


@media (max-width: 575px) {
 
}


@media (max-width: 390px) {
 
}
